<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ricarduino"
                      transaction-type="RESOURCE_LOCAL">
        <class>net.tillard.ricarduino.entity.Ingredient</class>
        <class>net.tillard.ricarduino.entity.Actuator</class>
        <class>net.tillard.ricarduino.entity.CocktailLine</class>
        <class>net.tillard.ricarduino.entity.Cocktail</class>
    </persistence-unit>
</persistence>
